@model HomePageViewModel
@using WebApp_gastec.Domain
@{
    ViewData["Title"] = "GASTEC";
    Layout = "_Layout";
}


<!--Page Title-->
<section class="page-title" style="background-image:url('../../wwwroot/public/assets/softextwo/images/background/4.jpg');">
    <div class="auto-container">
        @foreach (var entity in Model.AboutUsSection)
        {
            <!--<h1>@entity.ClassificationName</h1>-->
        }
    </div>
</section>
<!--End Page Title-->
<!--Page Info-->
<div class="page-info">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb pull-right">
                <li><a href="@Url.Action("Index", "Home")">الرئيسية</a></li>
                @foreach (var entity in Model.AboutUsSection)
                {
                    <li>@entity.ClassificationName</li>
                }
            </ul>
        </div>
    </div>
</div>
<!--End Page Info-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-right">
                <aside class="sidebar">
                    <div id="sidenavelist"></div>
                    <div class="sidebar-widget sidebar-blog-category">
                        <ul class="blog-cat">
                            @foreach (var mainSection in Model.AboutUs)
                            {
                                @foreach (var entity in mainSection.LstChildClassification)
                                {
                                    @if (entity.IsActive == true)
                                    {
                                        <li class="active"><a href="@Url.Action(GetActionName.GetActionNameByClassificationTreeID(entity.ClassificationID), "About")">@entity.ClassificationName</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action(GetActionName.GetActionNameByClassificationTreeID(entity.ClassificationID), "About")">@entity.ClassificationName</a></li>

                                    }
                                }
                            }
                        </ul>
                    </div>
                </aside>
            </div>
            <!--Content Side-->
            <div class="content-side pull-left col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="services-single" dir="rtl">
                    <div class="inner-box">
                        <div id="cmspage1">
                            <!--//end backend to retrieve variables  -->
                            <!--//Start backend to retrieve variables  -->
                            @foreach (var entity in Model.AboutUsSection)
                            {
                                <h2>@entity.ClassificationName</h2>
                                <link href="" rel="stylesheet" type="text/css">
                                <div style="font-size:14px; position:relative">
                                    @foreach (var image in entity.LstImages)
                                    {
                                        <p>
                                            <img src="~/Images/Contributors/@image.ImageGUID" style="height: 832px; width: 900px;">
                                        </p>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
