@model HomePageViewModel

@{
    ViewData["Title"] = "GASTEC";
    Layout = "_Layout";
}


<!--Page Title-->
<section class="page-title" style="background-image:url('../../wwwroot/public/assets/softextwo/images/background/hr.jpg');">
    <div class="auto-container">
        @foreach (var section in Model.AboutUsSection)
        {
            @foreach (var entity in section.LstChildClassification)
            {
                <!--<h1> @entity.ClassificationName</h1>-->
            }
        }
    </div>
</section>
<!--End Page Title-->
<!--Page Info-->
<div class="page-info">
    <div class="auto-container">
        <div class="inner-container clearfix">
            @if (Gastech_Vault.TranslationLanguageID == 0)
            {
                <ul class="bread-crumb pull-right">
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            الرئيسية
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("LegalEntity","About")">
                            عن غازتك
                        </a>
                    </li>
                    @foreach (var entity in Model.AboutUsSection)
                    {
                        <li>@entity.ClassificationName</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
<!--End Page Info-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-right">
                <aside class="sidebar">
                    <div id="sidenavelist"></div>
                    <div class="sidebar-widget sidebar-blog-category">
                        <ul class="blog-cat">
                            @foreach (var mainSection in Model.HR)
                            {
                                @foreach (var entity in mainSection.LstChildClassification)
                                {
                                    @if (entity.ClassificationID == 15)
                                    {
                                        //Management
                                        <li><a href="@Url.Action("HR", "About")">@entity.ClassificationName</a></li>
                                    }
                                    else if (entity.ClassificationID == 78)
                                    {
                                        // Relations
                                        <li class="active"> <a href="@Url.Action("Relations", "About")">@entity.ClassificationName</a></li>
                                    }
                                    else if (entity.ClassificationID == 17)
                                    {
                                        //Training
                                        <li> <a href="@Url.Action("Training","About")">@entity.ClassificationName</a></li>
                                    }
                                    else if (entity.ClassificationID == 18)
                                    {
                                        //Human Resources
                                        <li> <a href="@Url.Action("organizational","About")">@entity.ClassificationName</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- Content Side-->


<div class="content-side pull-left col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <div class="services-single" dir="rtl">

        <div class="inner-box">

            <div id="cmspage1">
                <!--//end backend to retrieve variables  -->
                <!--//Start backend to retrieve variables  -->
                @foreach (var entity in Model.AboutUsSection)
                {
                    <h2>@entity.ClassificationName</h2>


                    <link href="" rel="stylesheet" type="text/css"><div style="font-size:14px; position:relative">
                        <p style="text-align: justify;">
                            <span style="color:#263a69;">
                                <span style="font-size:18px;">
                                    تلعب الموارد البشرية دوراً هاماً في تفعيل القدرة التنافسية للعاملين بالشركة من خلال توفير بيئة عمل تحفيزية تشجع العاملين على بذل قصارى جهدهم وتعزيز انتمائهم للشركة بالإضافة لاتباع أليات محددة لضمان اختيار أفضل العناصر البشرية وأكثرها توافقاً مع احتياجات الشركة، بما يسهم في تحقيق أفضل معدلات أداء وأعلى مستوى من الانتاجية. &nbsp;&nbsp;
                                </span>
                            </span>
                        </p>
                        <p style="text-align: justify;">
                            <br>
                            <span style="color:#263a69;">
                                <span style="font-size:18px;">
                                    تقوم إدارة العلاقات العامة بتنظيم الفعاليات والاحتفالات على مدار العام والتي تشملت احتفالية (عيد الأم- تكريم أبناء العاملين- العامل المثالي)، وذلك لتعزيز الروابط الاجتماعية والأسرية بين العاملين.
                                </span>
                            </span>
                        </p>
                        <h3 dir="rtl" style="text-align: justify;">
                            <img onclick="clickimage(this);" src="https://www.gastec-egypt.com/public/cache/htmlimages/filenoJul-12-2020 12_59_15pm71294686_1090131164526468_2131756435539755008_o.jpg1.webp" style="width: 295px;">&nbsp;
                            <img onclick="clickimage(this);" src="https://www.gastec-egypt.com/public/cache/htmlimages/filenoJul-12-2020 12_59_15pm71263754_1090130767859841_9024556617743466496_o.jpg1.webp" style="width: 280px;">&nbsp;<img onclick="clickimage(this);" src="https://www.gastec-egypt.com/public/cache/htmlimages/filenoJul-12-2020 12_59_14pm70975104_1090133951192856_276915125896609792_o.jpg1.webp" style="width: 260px;">
                        </h3>
                        <p style="text-align: justify;">
                            &nbsp;
                        </p>
                        <p style="text-align: justify;">
                            <span style="color:#263a69;"><span style="font-size:18px;">كما تم تنظيم رحلات صيفية وشتوية للعديد من المحافظات للسادة العاملين وأسرهم بنظام التقسيط ورحلات اليوم الواحد، وإعداد التنظيم اللازم لحفل الإفطار الجماعي السنوي في شهر رمضان بجميع مناطق الشركة.</span></span>
                        </p>
                        <p style="text-align: justify;">
                            &nbsp;
                        </p>
                        <p style="text-align: justify;">
                            <img alt="250" src="https://www.gastec-egypt.com/public/cache/htmlimages/filenoJul-13-2020 09_37_03am61559443_1008995775973341_5974549896739422208_o.jpg1.webp" style="height: 129px; width: 288px; margin: 0px;">&nbsp;
                            <img src="https://www.gastec-egypt.com/public/cache/htmlimages/filenoJul-13-2020 09_37_02am61411037_1008995632640022_5732335228966404096_o.jpg1.webp" style="height: 129px; width: 250px; margin: 0px;">&nbsp; &nbsp; &nbsp;
                            <img src="https://www.gastec-egypt.com/public/cache/htmlimages/filenoJul-13-2020 09_37_01am61221770_1008994902640095_8572540897869168640_o.jpg1.webp" style="height: 129px; width: 323px;">
                        </p>
                        <p style="text-align: justify;">
                            &nbsp;
                        </p>
                        <p style="text-align: justify;">
                            <span style="color:#263a69;"><span style="font-size:18px;">&nbsp;وفي إطار الاهتمام بالنشاط الرياضي، تقوم إدارة العلاقات العامة بتنظيم دورة رمضانية لكرة القدم للسادة العاملين، وكذلك الاشتراك في دوري شركات قطاع البترول لتنس الطاولة بالتنسيق مع الهيئة العامة للبترول.</span></span>
                        </p>  <p style="text-align: justify;">
                            <img src="https://www.gastec-egypt.com/public/cache/htmlimages/filenoJul-13-2020 09_29_34am00000.jpg1.webp" style="height: 167px; width: 250px;">&nbsp; &nbsp; &nbsp;
                            <img src="https://www.gastec-egypt.com/public/cache/htmlimages/filenoJul-13-2020 09_29_35am01010.jpg1.webp" style="height: 167px; width: 250px;">&nbsp; &nbsp;
                            <img src="https://www.gastec-egypt.com/public/cache/htmlimages/filenoJul-13-2020 09_31_36am61221076_1009249025948016_4148107404778668032_o.jpg1.webp" style="height: 164px; width: 280px;">
                        </p>
                        <p dir="rtl" style="text-align: justify;">
                            <br> &nbsp;
                        </p>
                    </div>
                }
            </div>

        </div>
    </div>

    <div class="team-column col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px">
        <div class="inner-column">
            <div class="row clearfix">



            </div>
        </div>
    </div>
</div>