@model HomePageViewModel

@{
    ViewData["Title"] = "GASTEC";
    Layout = "_Layout";
}


<!--Page Title-->
<section class="page-title" style="background-image:url('../../wwwroot/public/assets/softextwo/images/background/hr.jpg');">
    <div class="auto-container">
        @foreach (var section in Model.AboutUsSection)
        {
            @foreach (var entity in section.LstChildClassification)
            {
                <!--<h1> @entity.ClassificationName</h1>-->
            }
        }
    </div>
</section>
<!--End Page Title-->
<!--Page Info-->
<div class="page-info">
    <div class="auto-container">
        <div class="inner-container clearfix">
            @if (Gastech_Vault.TranslationLanguageID == 0)
            {
                <ul class="bread-crumb pull-right">
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            الرئيسية
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("LegalEntity","About")">
                            عن غازتك
                        </a>
                    </li>
                    @foreach (var entity in Model.AboutUsSection)
                    {
                        <li>@entity.ClassificationName</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
<!--End Page Info-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-right">
                <aside class="sidebar">
                    <div id="sidenavelist"></div>
                    <div class="sidebar-widget sidebar-blog-category">
                        <ul class="blog-cat">
                            @foreach (var mainSection in Model.HR)
                            {
                                @foreach (var entity in mainSection.LstChildClassification)
                                {
                                    @if (entity.ClassificationID == 15)
                                    {
                                        //Management
                                        <li><a href="@Url.Action("HR", "About")">@entity.ClassificationName</a></li>
                                    }
                                    else if (entity.ClassificationID == 78)
                                    {
                                        // Relations
                                        <li> <a href="@Url.Action("Relations", "About")">@entity.ClassificationName</a></li>
                                    }
                                    else if (entity.ClassificationID == 17)
                                    {
                                        //Training
                                        <li class="active"> <a href="@Url.Action("Training","About")">@entity.ClassificationName</a></li>
                                    }
                                    else if (entity.ClassificationID == 18)
                                    {
                                        //organizational
                                        <li> <a href="@Url.Action("organizational","About")">@entity.ClassificationName</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </aside>
            </div>
            <!--Content Side-->
            <div class="content-side pull-left col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="services-single" dir="rtl">
                    <div class="inner-box">
                        <div id="cmspage1">
                            @foreach (var entity in Model.AboutUsSection)
                            {
                                @foreach (var webSection in entity.LstWebSections)
                                {
                                    @foreach (var image in webSection.LstImages)
                                    {
                                        <h2>@entity.ClassificationName</h2>
                                        <div style="font-size:14px; position:relative">
                                            <p dir="RTL" style="text-align:right; margin:0in 0in 0.0001pt">
                                                <strong>
                                                    <span style="font-family:Arial,Helvetica,sans-serif;">
                                                        <span style="font-size:11pt">
                                                            <span style="direction:rtl">
                                                                <span style="unicode-bidi:embed">
                                                                    <span lang="AR-SA" style="font-size:12.0pt">
                                                                        @webSection.WebSection_PlainText
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </strong>
                                            </p>
                                            <p dir="RTL" style="margin:0in 0in 0.0001pt; text-align:right">
                                                <img src="~/Images/Training/@image.ImageGUID" style="height: 600px; width: 900px;">
                                            </p>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
