@model HomePageViewModel
@{
    ViewData["Title"] = "GASTEC";
    Layout = "_Layout";
}

<!-- Page Title-->
<section class="page-title" style="background-image:url('../../wwwroot/public/assets/softextwo/images/background/eni-header.jpg');">
    <div class="auto-container">
        @foreach (var entity in Model.Oil_Categories)
        {
            <!-- <h1>@entity.ClassificationName  </h1>-->
        }
    </div>
</section>
<!-- End Page Title-->
<!-- Page Info-->
<div class="page-info">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb pull-right">
                <li><a href="@Url.Action("Index","Home")">الرئيسية</a></li>
                @foreach (var entity in Model.Oil_Categories)
                {
                    <li>@entity.ClassificationName</li>
                }
            </ul>
        </div>
    </div>
</div>
<!-- End Page Info-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-right">
                <aside class="sidebar">
                    <!--Blog Category Widget-->
                    <div id="sidenavelist">
                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat">
                                @foreach (var mainSection in Model.Oil_Main)
                                {
                                    @foreach (var entity in mainSection.LstChildClassification)
                                    {
                                        @if (entity.ClassificationID == 40)
                                        {
                                            // Agency
                                            <li><a href="@Url.Action("Agency", "Oil")">@entity.ClassificationName</a></li>
                                        }
                                        else if (entity.ClassificationID == 41)
                                        {
                                            //Industrial Oil
                                            <li><a href="#">@entity.ClassificationName</a></li>
                                        }
                                        else if (entity.ClassificationID == 42)
                                        {
                                            //Commerical Oil
                                            <li><a href="#">@entity.ClassificationName</a></li>
                                        }
                                        else if (entity.ClassificationID == 43)
                                        {
                                            //Distributers
                                            <li class="active"><a href="@Url.Action("Distributor", "Oil")">@entity.ClassificationName</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
            <!--Content Side-->
            <div class="content-side pull-left col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="services-single" dir="rtl">
                    <div class="inner-box">
                        <div id="cmspage1">
                            @foreach (var entity in Model.Oil_Categories)
                            {
                                <h2>@entity.ClassificationName</h2>
                                <div style="font-size:14px; position:relative">
                                    @foreach (var image in entity.LstImages)
                                    {
                                        @if (image.ImageID == "88")
                                        {
                                            <a href="@image.ImageLink" target="_blank">
                                                <img src="~/Images/Oil_Distributer/@image.ImageGUID">
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@image.ImageLink" target="_blank">
                                                <img src="~/Images/Oil_Distributer/@image.ImageGUID" style="height: 464px; width: 450px;">
                                            </a>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="team-column col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px">
                    <div class="inner-column">
                        <div class="row clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
