@model HomePageViewModel
@using WebApp_gastec.Domain

@{
    ViewData["Title"] = "GASTEC";
    Layout = "_Layout";
}


@foreach (var entity in Model.Oil_Categories)
{
    @foreach (var Websection in entity.LstWebSections)
    {
        @Html.Raw(Websection.Style)
    }
}

<!-- Page Title-->
<section class="page-title" style="background-image:url('../../wwwroot/public/assets/softextwo/images/background/eni-header.jpg');">
    <div class="auto-container">
        @foreach (var entity in Model.Oil_Categories)
        {
            <!-- <h1>@entity.ClassificationName  </h1>-->
        }
    </div>
</section>
<!-- End Page Title-->
<!-- Page Info-->
<div class="page-info">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb pull-right">
                <li><a href="@Url.Action("Index","Home")">الرئيسية</a></li>
                @foreach (var entity in Model.Oil_Categories)
                {
                    <li>@entity.ClassificationName</li>
                }
            </ul>
        </div>
    </div>
</div>
<!-- End Page Info-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-right">
                <aside class="sidebar">
                    <!--Blog Category Widget-->
                    <div id="sidenavelist">
                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat">
                                @foreach (var mainSection in Model.Oil_Main)
                                {
                                    @foreach (var entity in mainSection.LstChildClassification)
                                    {
                                        <li>
                                            <a href="@Url.Action(GetActionName.GetActionNameforOilsSectionByID(entity.ClassificationID), "Oil")">@entity.ClassificationName</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
            <!--Content Side-->
            <div class="content-side pull-left col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="services-single" dir="rtl">
                    <div class="inner-box">
                        <div id="cmspage1"></div>
                    </div>
                </div>
                <div class="team-column col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px">
                    <div class="inner-column">
                        <div class="row clearfix">
                            @foreach (var oilCategory in Model.Oil_Categories)
                            {
                                <div id="teambox">
                                    @foreach (var entity in oilCategory.LstChildClassification)
                                    {
                                        <div class="team-block col-md-3 col-sm-6 col-xs-12 pull-right">
                                            <div class="inner-box">
                                                <div class="image">
                                                    <a href="@entity.LstImages.Select(x=>x.ImageLink).FirstOrDefault().ToString()">
                                                        <img src="~/Images/Industrial_Oil/@entity.LstImages.Select(x=>x.ImageGUID).FirstOrDefault().ToString()" alt="" />
                                                    </a>
                                                </div>
                                                <div class="lower-box">
                                                    <h3>
                                                        <a href="#">
                                                            @entity.ClassificationName
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
