@model HomePageViewModel
@{
    ViewData["Title"] = "GASTEC";
    Layout = "_Layout";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(~/wwwroot/public/assets/softextwo/images/background/4.jpg);">
    <div class="auto-container">
        <!--<h1>إتصل بنا</h1>-->
    </div>

</section>
<!--End Page Title-->
<!--Page Info-->
<div class="page-info">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb pull-right">
                <li><a href="@Url.Action("Index","Home")">الرئيسية</a></li>
                <li>إتصل بنا</li>
            </ul>
        </div>
    </div>
</div>
<!--End Page Info-->
<!--Contact Section-->
<section class="contact-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Info Column-->
            <div class="info-column col-md-5 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <div id="cmspage1" style="text-align: right"></div>


                    <?php
                    \App\System::getModule("pagetempone","356693645","#cmspage1","<div class='linear-background'></div>");
                    ?>

                </div>
            </div>
            <!--Form Column-->
            <div class="form-column col-md-7 col-sm-12 col-xs-12">
                <?php
                if($sent){
                $msg = "تم تقديم طلبك بنجاح";
                echo \App\Ui::SuccessMsg($msg);
                }
                ?>
                <div class="inner-column">
                    <div class="contact-title text-right">
                        <h2>إرسل لنا </h2>
                        <div class="text"> لأن اهتماماتك أولويتنا يرجى التكرم بملء النموذج أدناه سواءً كان ذلك استفساراً أو سؤالاً يتعلق بمنتجاتنا أو خدمتنا</div>
                    </div>


                    <!--Contact Form-->
                    <div class="contact-form">
                        <form method="post" asp-controller="Home" asp-action="ContactUs" id="contact-form" dir="rtl">
                            <div class="row clearfix">
                                <input type="hidden" name="_token" value="{{csrf_token()}}">
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <input asp-for="@Model.ContactUs.Name" value="" placeholder="الإسم" required>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input asp-for="@Model.ContactUs.Email" value="" placeholder="البريد الإلكترونى" required>
                                </div>

                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input asp-for="@Model.ContactUs.PhoneNumber" value="" placeholder="رقم الهاتف" required>
                                </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <textarea asp-for="@Model.ContactUs.Message" placeholder="رسالتك"></textarea>
                                </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <button asp-controller="Home" asp-action="ContactUs" class="theme-btn btn-style-one pull-right">إرسال</button>

                                </div>
                            </div>
                        </form>
                    </div>
                    <!--End Contact Form-->
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Contact Section-->