@model HomePageViewModel

@{
    ViewData["Title"] = "GASTEC";
    Layout = "_Layout";
}


<!-- Page Title-->
<section class="page-title" style="background-image:url('../../wwwroot/public/assets/softextwo/images/background/4.jpg');">
    <div class="auto-container">
        @foreach (var entity in Model.Sub_Section)
        {
            <!-- <h1>@entity.ClassificationName  </h1>-->
        }
    </div>
</section>
<!-- End Page Title-->
<!-- Page Info-->
<div class="page-info">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb pull-right">
                <li><a href="@Url.Action("Index","Home")">الرئيسية</a></li>
                @foreach (var entity in Model.Sub_Section)
                {
                    <li>@entity.ClassificationName</li>
                }
            </ul>
        </div>
    </div>
</div>
<!-- End Page Info-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-right">
                <aside class="sidebar">
                    <!--Blog Category Widget-->
                    <div id="sidenavelist">
                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="blog-cat">
                                @foreach (var mainSection in Model.Main_Section)
                                {
                                    @foreach (var entity in mainSection.LstChildClassification)
                                    {
                                        <li><a href="@Url.Action("Index", "MediaCenter",new { PhotoID = entity.ClassificationID.ToString()})">@entity.ClassificationName</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
            <!--Content Side-->
            <div class="content-side pull-left col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="auto-container">
                    <div id="galrow">
                        <!-- Tabs Side-->

                    </div>
                </div>
                <div class="team-column col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px">
                    <div class="inner-column">
                        <div class="row clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
