@model HomePageViewModel
@using WebApp_gastec.Domain

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>GASTEC</title>
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--Check URL exist-->
    <meta property="og:url" content=@Gastech_Vault.baseURL>
    <!-- Create the meta link tag-->
    <style>
        svg {
            position: absolute;
            bottom: 0;
            left: 0
        }
    </style>

    <script src="~/public/assets/softextwo/js/jquery.js"></script>

    <script type="text/javascript">

        //remove any externals iframes
        var topHref = '';
        try {
            topHref = top.location.href;
        } catch (e) {
            topHref = '';
        }

        //remove any externals iframes
        if (top.location != location && (topHref == '' || topHref.indexOf('#') != -1)) {
            top.location.href = document.location.href;
        }
    </script>
    <script type="text/javascript">
        //remove any externals iframes
        var topHref = '';
        try {
            topHref = top.location.href;
        } catch (e) {
            topHref = '';
        }
        //remove any externals iframes
        if (top.location != location && (topHref == '' || topHref.indexOf('#') != -1)) {
            top.location.href = document.location.href;
        }
    </script>
    <link href="~/public/assets/softextwo/css/bootstrap.css" rel="stylesheet">
    <link href="~/public/assets/softextwo/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
    <link href="~/public/assets/softextwo/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
    <!-- REVOLUTION SETTINGS STYLES -->
    <link href="~/public/assets/softextwo/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css">
    <!-- REVOLUTION LAYERS STYLES -->
    <link href="~/public/assets/softextwo/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">
    <!-- REVOLUTION NAVIGATION STYLES -->
    <link href="~/public/assets/softextwo/css/style.css" rel="stylesheet">
    <link href="~/public/assets/softextwo/css/responsive.css" rel="stylesheet">
    <link id="theme-color-file" href="~/public/assets/softextwo/css/color-themes/red-theme.css" rel="stylesheet">
    <!--Maps CSS-->
    <link rel="stylesheet" type="text/css" href="~/public/src/style/css/pluginStyle.css">

    <link rel="shortcut icon" href="~/public/assets/softextwo/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/public/assets/softextwo/images/favicon.png" type="image/x-icon">
</head>
<body>
    @*Page Start*@
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader" style="display: none;"></div>
        <!-- ==========================
            HEADER - START
        =========================== -->
        <!-- Main Header-->
        <header class="main-header header-style-four">
            <!--Sticky Header-->
            <div class="sticky-header">
                <!-- Header Top -->
                <div class="header-top">
                    <div class="auto-container">
                        <div class="inner-container clearfix">
                            <!--Top left-->
                            <div class="top-left clearfix hidden-sm hidden-xs">
                                <!--social-icon-->
                                <div class="social-icon">
                                    <ul class="clearfix">
                                        <li>
                                            <a href="https://www.shakwa.eg/GCP/Default.aspx" target="_blank"><img src="~/public/assets/softextwo/images/16528.png" alt="" title=""></a>
                                        </li>
                                        <li><a href="https://www.facebook.com/gasteceg/" target="_blank"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCTLayD5SdoD3WCPk7T3jgcQ" target="_blank"><span class="fa fa-youtube"></span></a></li>

                                    </ul>
                                </div>
                                <ul class="links clearfix">
                                    <li style="padding-top: 8px">|</li>
                                    <li><a href="mailto:gastec@gastec-egypt.com"><span class="icon flaticon-note-1"></span></a></li>
                                    <li><a href="https://www.gastec-egypt.com/public/lang/en"><strong>English</strong><span class="icon flaticon-chat"></span></a></li>

                                </ul>
                            </div>
                            <!--Top Right-->
                            <div class="top-right clearfix hidden-sm">
                                <!--social-icon-->
                                <div class="links clearfix">
                                    <ul class="clearfix">
                                        @foreach (var entity in Model.MainNavigationBar)
                                        {
                                            @if (entity.ClassificationID == 8)
                                            {
                                                <li><a href="@Url.Action("News", "MediaCenter")">@entity.ClassificationName</a></li>
                                            }
                                            else
                                                continue;
                                        }
                                        <li><a href="https://www.gastec-egypt.com/public/careers">وظائف</a></li>
                                        <li><a href="https://www.gastec-egypt.com/public/contacts">اتصل بنا</a></li>
                                        <li><a href="https://www.gastec-egypt.com/public/conversion_form">طلب تحويل سيارة</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Header Top End -->
                <div class="auto-container">
                    <div class="sticky-inner-container clearfix">
                        <!--Logo-->
                        <div class="logo pull-right">
                            <a href="@Url.Action("Index","Home")" class="img-responsive"><img src="~/public/assets/softextwo/images/logo-ar.png" alt="" title="" /></a>
                        </div>
                        <!--Right Col-->
                        <div class="right-col pull-left">
                            <!--Outer Box-->
                            <div class="outer-box">
                                <!--Search Box-->
                                <div class="search-box-outer">
                                    <div class="dropdown">
                                        <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                        <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu4">
                                            <li class="panel-outer">
                                                <div class="form-container">
                                                    <form method="get" action="https://www.gastec-egypt.com/public/searchresult">
                                                        <div class="form-group">
                                                            <input type="text" name="keyword" value="" placeholder="Search Here" required="" />
                                                            <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Main Menu -->
                            <nav class="main-menu">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        @foreach (var classification in Model.MainNavigationBar)
                                        {
                                            @if (classification.ClassificationID == 1)
                                            {
                                                <li>
                                                    <a href="@Url.Action("Index","Home")">@classification.ClassificationName</a>
                                                </li>
                                            }
                                            else if (classification.ClassificationID == 8 || classification.ClassificationID == 20 || classification.ClassificationID == 121)
                                            {
                                                continue;
                                            }
                                            else
                                            {
                                                @if (classification.LstChildClassification.Count > 0)
                                                {
                                                    // check if Id = 125 for About us
                                                    @if (classification.ClassificationID == 125)
                                                    {
                                                        <li class="dropdown">
                                                            <a href="#">@classification.ClassificationName</a>
                                                            <ul>
                                                                @foreach (var entity in classification.LstChildClassification)
                                                                {
                                                                    @if (entity.ClassificationID == 123)
                                                                    {
                                                                        // HR
                                                                        <li class="dropdown">
                                                                            <a href="@Url.Action(GetActionName.GetActionNameByClassificationTreeID(entity.ClassificationID),"About")">@entity.ClassificationName</a>
                                                                            <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                                                            <ul>
                                                                                @foreach (var child in entity.LstChildClassification)
                                                                                {
                                                                                    <li>
                                                                                        <a href="@Url.Action(GetActionName.GetActionNameforHRSectionByID(child.ClassificationID),"About")">@child.ClassificationName</a>
                                                                                    </li>
                                                                                }
                                                                            </ul>
                                                                        </li>
                                                                    }
                                                                    else
                                                                    {
                                                                        <li>
                                                                            <a href="@Url.Action(GetActionName.GetActionNameByClassificationTreeID(entity.ClassificationID),"About")">@entity.ClassificationName</a>
                                                                        </li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    // check if Id = 3 for Car Conversion
                                                    else if (classification.ClassificationID == 3)
                                                    {
                                                        <li class="dropdown">
                                                            <a href="#">@classification.ClassificationName</a>
                                                            <ul>
                                                                @foreach (var entity in classification.LstChildClassification)
                                                                {
                                                                    <li>
                                                                        <a href="@Url.Action(GetActionName.GetActionNameforCarConversionSectionByID(entity.ClassificationID),"Car_Conversion")">@entity.ClassificationName</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    //Check if ID = 5 for Cylindar Test
                                                    else if (classification.ClassificationID == 5)
                                                    {
                                                        <li class="dropdown">
                                                            <a href="#">@classification.ClassificationName</a>
                                                            <ul>
                                                                @foreach (var entity in classification.LstChildClassification)
                                                                {
                                                                    <li>
                                                                        <a href="@Url.Action("Index", "Cylindar_Test",new { ID_ = entity.ClassificationID.ToString()})">@entity.ClassificationName</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    // Check if ID = 4 for Catering Stations
                                                    else if (classification.ClassificationID == 4)
                                                    {
                                                        <li class="dropdown">
                                                            <a href="#">@classification.ClassificationName</a>
                                                            <ul>
                                                                @foreach (var entity in classification.LstChildClassification)
                                                                {
                                                                    <li>
                                                                        <a href="@Url.Action(GetActionName.GetActionNameforCateringStationsSectionByID(entity.ClassificationID), "Catering_Stations")">@entity.ClassificationName</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    // Check iff ID = 7 for Statistics Section
                                                    else if (classification.ClassificationID == 7)
                                                    {
                                                        <li class="dropdown">
                                                            <a href="#">@classification.ClassificationName</a>
                                                            <ul>
                                                                @foreach (var entity in classification.LstChildClassification)
                                                                {
                                                                    <li>
                                                                        <a href="@Url.Action("Index", "Statistics",new { ID_ = entity.ClassificationID.ToString()})">@entity.ClassificationName</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    // Check iff ID = 6 for Oils Section
                                                    else if (classification.ClassificationID == 6)
                                                    {
                                                        <li class="dropdown">
                                                            <a href="#">@classification.ClassificationName</a>
                                                            <ul>
                                                                @foreach (var entity in classification.LstChildClassification)
                                                                {
                                                                    <li>
                                                                        <a href="@Url.Action(GetActionName.GetActionNameforOilsSectionByID(entity.ClassificationID), "Oil")">@entity.ClassificationName</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </nav>
                            <!-- Main Menu End-->
                        </div>
                    </div>
                </div>
            </div>
            <!--End Sticky Header-->
        </header>

        @RenderBody()

        @*Page End*@

        @*Footer Start*@

        <!--Call Back Section-->
        <section class="call-to-action"
                 style="background-image:url(../../wwwroot/public/assets/softextwo/images/background/2.jpg); background-attachment: fixed">
            <div class="auto-container clearfix">
                <div class="col-md-8 pull-right">
                    <h2 style="color: #fff">للإستفسارات والشكاوى</h2>
                    <h3 style="color: #fff">إتصل بنا او اترك رسالة وسيقوم أحد ممثلي خدمة العملاء بالرد عليك فى أقرب وقت.</h3>
                </div>
                <a style="margin-top: 20px" href="#" data-toggle="modal" data-target="#myModal3"
                   class="theme-btn btn-style-one">إرسل طلبك</a>
                <a style="margin-top: 20px" href="tel:01000016955" class="theme-btn btn-style-one">إتصل بنا</a>
            </div>
        </section>
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="signin-form profile">
                            <h3 class="creainfo_sign">{{ \App\System::getFinalText("Contact Us") }}</h3>
                            <div class="login-form">
                                <div id="thankyou"></div>
                                <input type="text" name="name" id="nameusr" placeholder="الاسم" required="">
                                <input type="email" name="email" id="Email" placeholder="البريد الاليكترونى" required="">
                                <input type="text" name="phone" id="UserPhone" placeholder="رقم الهاتف" required="">
                                <textarea type="text" name="message" id="Msgdata" placeholder="اترك رسالتك"
                                          required=""></textarea>
                                <input type="submit" id="sendrequest" value="ارسل">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Call Back Section-->
        <!--Main Footer-->
        <footer class="main-footer">
            <div class="container-fluid">
                <!--Widgets Section-->
                <div class="widgets-section">
                    <div id="footer1">
                        <div class="row d-flex flex-row-reverse seven-cols clearfix">
                            @foreach (var classification in Model.MainNavigationBar)
                            {
                                @if (classification.ClassificationID == 1 || classification.ClassificationID == 8 || classification.ClassificationID == 20 || classification.ClassificationID == 121)
                                {
                                    continue;
                                }
                                <div class="big-column col-md-2 col-sm-12 col-xs-12 pull-left">
                                    <div class="footer-column col-md-12 col-sm-12 col-xs-12">
                                        <div class="footer-widget links-widget">
                                            <h2>@classification.ClassificationName</h2>
                                            <div class="widget-content">
                                                <ul class="list">
                                                    @if (classification.LstChildClassification.Count > 0)
                                                    {
                                                        // check if Id = 125 for About us
                                                        @if (classification.ClassificationID == 125)
                                                        {
                                                            @foreach (var entity in classification.LstChildClassification)
                                                            {
                                                                <li>
                                                                    <a href="@Url.Action(GetActionName.GetActionNameByClassificationTreeID(entity.ClassificationID), "About")">@entity.ClassificationName</a>
                                                                </li>
                                                            }
                                                        }
                                                        // check if Id = 3 for Car Conversion
                                                        else if (classification.ClassificationID == 3)
                                                        {
                                                            @foreach (var entity in classification.LstChildClassification)
                                                            {
                                                                <li>
                                                                    <a href="@Url.Action(GetActionName.GetActionNameforCarConversionSectionByID(entity.ClassificationID), "Car_Conversion")">@entity.ClassificationName</a>
                                                                </li>
                                                            }

                                                        }
                                                        //Check if ID = 5 for Cylindar Test
                                                        else if (classification.ClassificationID == 5)
                                                        {
                                                            @foreach (var entity in classification.LstChildClassification)
                                                            {
                                                                <li>
                                                                    <a href="@Url.Action("Index", "Cylindar_Test",new { ID_ = entity.ClassificationID.ToString()})">@entity.ClassificationName</a>
                                                                </li>
                                                            }
                                                        }
                                                        // Check if ID = 4 for Catering Stations
                                                        else if (classification.ClassificationID == 4)
                                                        {
                                                            @foreach (var entity in classification.LstChildClassification)
                                                            {
                                                                <li>
                                                                    <a href="@Url.Action(GetActionName.GetActionNameforCateringStationsSectionByID(entity.ClassificationID), "Catering_Stations")">@entity.ClassificationName</a>
                                                                </li>
                                                            }
                                                        }
                                                        // Check iff ID = 7 for Statistics Section
                                                        else if (classification.ClassificationID == 7)
                                                        {
                                                            @foreach (var entity in classification.LstChildClassification)
                                                            {
                                                                <li>
                                                                    <a href="@Url.Action("Index", "Statistics",new { ID_ = entity.ClassificationID.ToString()})">@entity.ClassificationName</a>
                                                                </li>
                                                            }
                                                        }
                                                        // Check iff ID = 6 for Oils Section
                                                        else if (classification.ClassificationID == 6)
                                                        {
                                                            @foreach (var entity in classification.LstChildClassification)
                                                            {
                                                                <li>
                                                                    <a href="@Url.Action(GetActionName.GetActionNameforOilsSectionByID(entity.ClassificationID), "Oil")">@entity.ClassificationName</a>
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!--Footer Bottom-->
                <div class="footer-bottom">
                    <div class="clearfix">
                        <div class="col-md-12 text-center">
                            <ul class="social-icon-one">
                                <li>
                                    <a href="https://www.facebook.com/gasteceg/" target="_blank">
                                        <span class="fa fa-facebook"
                                              target="_blank"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCTLayD5SdoD3WCPk7T3jgcQ" target="_blank">
                                        <span class="fa fa-youtube"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="center">
                                <span style="font-size: 16px;font-weight: 600; color: #243a69;">
                                    جميع الحقوق محفوظة للشركة
                                    المصرية الدولية لتكنولوجيا الغاز - غازتك
                                </span>

                                <div class="copyright">
                                    Powered by <a href="http://softexsw.com" target="_blank">
                                        Softex Software
                                        House
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        @*Footer End*@
        @*<script>
                //Update Header Style and Scroll to Top
                function headerStyle() {
                    if ($('.main-header').length) {
                        var windowpos = $(window).scrollTop();
                        var siteHeader = $('.main-header');

                        var scrollLink = $('.scroll-to-top');
                        if (windowpos >= 1) {
                            siteHeader.addClass('fixed-header');
                            scrollLink.fadeIn(0);
                        } else {
                            siteHeader.removeClass('fixed-header');
                            scrollLink.fadeOut(0);
                        }
                    }
                }

                headerStyle();
                //Submenu Dropdown Toggle
                if ($('.main-header li.dropdown ul').length) {
                    $('.main-header li.dropdown').append('<div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>');

                    //Dropdown Button
                    $('.main-header li.dropdown .dropdown-btn').on('click', function () {
                        $(this).prev('ul').slideToggle(500);
                    });

                    //Disable dropdown parent link
                    $('.main-header .navigation li.dropdown > a,.hidden-bar .side-menu li.dropdown > a').on('click', function (e) {
                        e.preventDefault();
                    });
                }
            </script>*@
        @*<script>
                $(document).ready(function () {
                    $("#sendrequest").click(function () {
                        $("#thankyou").html("يتم الإرسال");
                        $("#sendrequest").remove()
                        $.ajax({
                            url: "<?= env('APP_URL') ?>index.php/request",
                            type: "post",
                            data: "_token=<?php echo csrf_token() ;?>&Name=" + $("#nameusr").val() +
                                "&UserPhone=" + $("#UserPhone").val() + "&Email=" + $("#Email").val() +
                                "&Msgdata=" + $("#Msgdata").val(),
                            success: function (response) {

                                $("#thankyou").html(response);

                            }
                        });
                    });
                });
            </script>*@

        <script src="~/public/assets/softextwo/js/bootstrap.min.js"></script>

        <script src="~/public/assets/softextwo/js/jquery.fancybox.js"></script>

        <script src="~/public/assets/softextwo/js/isotope.js"></script>

        <script src="~/public/assets/softextwo/js/owl.js"></script>

        <script src="~/public/assets/softextwo/js/wow.js"></script>

        <script src="~/public/assets/softextwo/js/jquery-ui.js"></script>

        <script src="~/public/assets/softextwo/js/appear.js"></script>

        <script src="~/public/assets/softextwo/js/script.js"></script>

        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxFPv8F8EXVy6pkK4YWtY8Ef8PqjM7xlA&libraries=places,geometry">
        </script>


        <!--Revolution Slider-->
        <script src="~/public/assets/softextwo/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    </div>
</body>
</html>
