
@model HomePageViewModel

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>GASTEC</title>
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--Check URL exist-->
    <meta property="og:url" content=@Gastech_Vault.baseURL>
    <!-- Create the meta link tag-->
    <style>
        svg {
            position: absolute;
            bottom: 0;
            left: 0
        }
    </style>

    <script src="~/public/assets/softextwo/js/jquery.js"></script>

    <script type="text/javascript">

        //remove any externals iframes
        var topHref = '';
        try {
            topHref = top.location.href;
        } catch (e) {
            topHref = '';
        }

        //remove any externals iframes
        if (top.location != location && (topHref == '' || topHref.indexOf('#') != -1)) {
            top.location.href = document.location.href;
        }
    </script>

    @if (Gastech_Vault.TranslationLanguageID == 0)
    {
        <link href="~/public/assets/softextwo/css/bootstrap.css" rel="stylesheet">
        <link href="~/public/assets/softextwo/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
        <link href="~/public/assets/softextwo/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
        <!-- REVOLUTION SETTINGS STYLES -->
        <link href="~/public/assets/softextwo/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css">
        <!-- REVOLUTION LAYERS STYLES -->
        <link href="~/public/assets/softextwo/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">
        <!-- REVOLUTION NAVIGATION STYLES -->
        <link href="~/public/assets/softextwo/css/style.css" rel="stylesheet">
        <link href="~/public/assets/softextwo/css/responsive.css" rel="stylesheet">
        <link id="theme-color-file" href="~/public/assets/softextwo/css/color-themes/red-theme.css" rel="stylesheet">
        <!--Maps CSS-->
        <link rel="stylesheet" type="text/css" href="~/public/src/style/css/pluginStyle.css">
    }
    else
    {
        <link href="~/public/assets/softextwo/css-en/bootstrap.css" rel="stylesheet">
        <link href="~/public/assets/softextwo/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
        <!-- REVOLUTION SETTINGS STYLES -->
        <link href="~/public/assets/softextwo/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css">
        <!-- REVOLUTION LAYERS STYLES -->
        <link href="~/public/assets/softextwo/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">
        <!-- REVOLUTION NAVIGATION STYLES -->
        <link href="~/public/assets/softextwo/css-en/style.css" rel="stylesheet">
        <link href="~/public/assets/softextwo/css-en/responsive.css" rel="stylesheet">
        <link id="theme-color-file" href="~/public/assets/softextwo/css-en/color-themes/red-theme.css" rel="stylesheet">
        <!--Maps CSS-->
        <link rel="stylesheet" type="text/css" href="<?=env('APP_URL')?>src/style/css/pluginStyle-ar.css">
        <link rel="stylesheet" type="text/css" href="~/public/src/style/css/pluginStyle-ar.css">
    }
    <link rel="shortcut icon" href="~/public/assets/softextwo/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/public/assets/softextwo/images/favicon.png" type="image/x-icon">
</head>
<body>
    @*Page Start*@
    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader" style="display: none;"></div>
        <!-- ==========================
            HEADER - START
        =========================== -->
        <!-- Main Header-->
        <header class="main-header header-style-four">
            <!--Sticky Header-->
            <div class="sticky-header">
                <!-- Header Top -->
                <div class="header-top">
                    <div class="auto-container">
                        @if (Gastech_Vault.TranslationLanguageID == 0)
                        {
                            <div class="inner-container clearfix">
                                <!--Top left-->
                                <div class="top-left clearfix hidden-sm hidden-xs">
                                    <!--social-icon-->
                                    <div class="social-icon">
                                        <ul class="clearfix">
                                            <li><a href="https://www.facebook.com/gasteceg/" target="_blank"><span class="fa fa-facebook"></span></a></li>
                                            <li><a href="https://www.youtube.com/channel/UCTLayD5SdoD3WCPk7T3jgcQ" target="_blank"><span class="fa fa-youtube"></span></a></li>

                                        </ul>
                                    </div>
                                    <ul class="links clearfix">
                                        <li style="padding-top: 8px">|</li>
                                        <li><a href="mailto:gastec@gastec-egypt.com"><span class="icon flaticon-note-1"></span></a></li>
                                        <li><a href="https://www.gastec-egypt.com/public/lang/en"><strong>English</strong><span class="icon flaticon-chat"></span></a></li>

                                    </ul>
                                </div>
                                <!--Top Right-->
                                <div class="top-right clearfix hidden-sm">
                                    <!--social-icon-->
                                    <div class="links clearfix">
                                        <ul class="clearfix">
                                            <li><a href="https://www.gastec-egypt.com/public/media_center">المركز الإعلامي </a></li>
                                            <li><a href="https://www.gastec-egypt.com/public/careers">وظائف</a></li>
                                            <li><a href="https://www.gastec-egypt.com/public/contacts">اتصل بنا</a></li>
                                            <li><a href="https://www.gastec-egypt.com/public/conversion_form">طلب تحويل سيارة</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Gastech_Vault.TranslationLanguageID == 1)
                        {
                            <div class="inner-container clearfix">
                                <!--Top Right-->
                                <div class="top-right clearfix hidden-sm">
                                    <!--social-icon-->
                                    <div class="links clearfix">
                                        <ul class="clearfix">
                                            <li><a href="https://www.gastec-egypt.com/public/media_center">Media Center </a></li>
                                            <li><a href="https://www.gastec-egypt.com/public/careers">Careers</a></li>
                                            <li><a href="https://www.gastec-egypt.com/public/contacts">Contact Us</a></li>
                                            <li><a href="https://www.gastec-egypt.com/public/conversion_form">Car Conversion Request</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Top left-->
                                <div class="top-left clearfix">
                                    <!--social-icon-->
                                    <div class="social-icon">
                                        <ul class="clearfix">
                                            <li>
                                                <a href="https://www.facebook.com/gasteceg/" target="_blank">
                                                    <span class="fa fa-facebook"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.youtube.com/channel/UCTLayD5SdoD3WCPk7T3jgcQ"
                                                   target="_blank"><span class="fa fa-youtube"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <ul class="links clearfix">
                                        <li style="padding-top: 8px">|</li>
                                        <li>
                                            <a href="mailto:gastec@gastec-egypt.com"><span class="icon flaticon-note-1"></span></a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <strong>English</strong><span class="icon flaticon-chat"></span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Header Top End -->
                <div class="auto-container">
                    <div class="sticky-inner-container clearfix">
                        <!--Logo-->
                        <div class="logo pull-right">
                            @if (Gastech_Vault.TranslationLanguageID == 0)
                            {
                                <a href="@Url.Action("Index","Home")" class="img-responsive"><img src="~/public/assets/softextwo/images/logo-ar.png" alt="" title="" /></a>
                            }
                            else if (Gastech_Vault.TranslationLanguageID == 1)

                            {
                                <a href="@Url.Action("Index","Home")" class="img-responsive"><img src="~/public/assets/softextwo/images/logo.png" alt="" title="" /></a>
                            }
                        </div>
                        <!--Right Col-->
                        <div class="right-col pull-left">
                            <!--Outer Box-->
                            <div class="outer-box">
                                <!--Search Box-->
                                <div class="search-box-outer">
                                    <div class="dropdown">
                                        <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                        <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu4">
                                            <li class="panel-outer">
                                                <div class="form-container">
                                                    <form method="get" action="https://www.gastec-egypt.com/public/searchresult">
                                                        <div class="form-group">
                                                            <input type="text" name="keyword" value="" placeholder="Search Here" required="" />
                                                            <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Main Menu -->
                            <span id="mainmenu1">
                                <nav class="main-menu">
                                    <div class="navbar-header">
                                        <!-- Toggle Button -->
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="navbar-collapse collapse clearfix">
                                        <ul class="navigation clearfix">
                                            @foreach (var classification in Model.MainNavigationBar)
                                            {
                                                @if (classification.ClassificationID == 1)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Index","Home")">@classification.ClassificationName</a>
                                                    </li>
                                                }
                                                else if (classification.ClassificationID == 8 || classification.ClassificationID == 20 || classification.ClassificationID == 121)
                                                {
                                                    continue;
                                                }
                                                else
                                                {
                                                    @if (classification.LstChildClassification.Count > 0)
                                                    {
                                                        // check if Id = 125 for About us
                                                        @if (classification.ClassificationID == 125)
                                                        {
                                                            <li class="dropdown">
                                                                <a href="#">@classification.ClassificationName</a>
                                                                <ul>
                                                                    @foreach (var entity in classification.LstChildClassification)
                                                                    {
                                                                        @if (entity.ClassificationID == 9)
                                                                        {
                                                                            // Legal Entity
                                                                            <li>
                                                                                <a href="@Url.Action("LegalEntity","About")">@entity.ClassificationName</a>
                                                                            </li>
                                                                        }
                                                                        else if (entity.ClassificationID == 121)
                                                                        {
                                                                            //Vision and Mision
                                                                            <li>
                                                                                <a href="@Url.Action("VisionMision","About")">@entity.ClassificationName</a>
                                                                            </li>
                                                                        }
                                                                        else if (entity.ClassificationID == 124)
                                                                        {
                                                                            // Company Activites
                                                                            <li>
                                                                                <a href="@Url.Action("Activities","About")">@entity.ClassificationName</a>
                                                                            </li>
                                                                        }
                                                                        else if (entity.ClassificationID == 122)
                                                                        {
                                                                            // Contributors
                                                                            <li>
                                                                                <a href="@Url.Action("Contributors","About")">@entity.ClassificationName</a>
                                                                            </li>
                                                                        }
                                                                        else if (entity.ClassificationID == 120)
                                                                        {
                                                                            // Members
                                                                            <li>
                                                                                <a href="@Url.Action("Members","About")">@entity.ClassificationName</a>
                                                                            </li>
                                                                        }
                                                                        else if (entity.ClassificationID == 123)
                                                                        {
                                                                            // HR
                                                                            <li class="dropdown">
                                                                                <a href="@Url.Action("HR", "About")">@entity.ClassificationName</a>
                                                                                <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                                                                <ul>
                                                                                    @foreach (var child in entity.LstChildClassification)
                                                                                    {
                                                                                        @if (child.ClassificationID == 15)
                                                                                        {
                                                                                            //Management
                                                                                            <li>
                                                                                                <a href="@Url.Action("HR", "About")">@child.ClassificationName</a>
                                                                                            </li>
                                                                                        }
                                                                                        else if (child.ClassificationID == 78)
                                                                                        {
                                                                                            // Relations
                                                                                            <li> <a href="@Url.Action("Relations", "About")">@child.ClassificationName</a></li>
                                                                                        }
                                                                                        else if (child.ClassificationID == 17)
                                                                                        {
                                                                                            //Training
                                                                                            <li> <a href="@Url.Action("Training","About")">@child.ClassificationName</a></li>
                                                                                        }
                                                                                        else if (child.ClassificationID == 18)
                                                                                        {
                                                                                            // organizational
                                                                                            <li> <a href="@Url.Action("organizational","About")">@child.ClassificationName</a></li>
                                                                                        }
                                                                                    }
                                                                                </ul>
                                                                            </li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li>
                                                                                <a href="#">@entity.ClassificationName</a>

                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                        // check if Id = 3 for Car Conversion
                                                        else if (classification.ClassificationID == 3)
                                                        {
                                                            <li class="dropdown">
                                                                <a href="#">@classification.ClassificationName</a>
                                                                <ul>
                                                                    @foreach (var entity in classification.LstChildClassification)
                                                                    {
                                                                        @if (entity.ClassificationID == 19)
                                                                        {
                                                                            // Advantage
                                                                            <li>
                                                                                <a href="@Url.Action("Advantage","Car_Conversion")">@entity.ClassificationName</a>
                                                                            </li>
                                                                        }
                                                                        else if (entity.ClassificationID == 20)
                                                                        {
                                                                            //Conversion Proccess
                                                                            <li><a href="@Url.Action("Conversion_Proccess", "Car_Conversion")">@entity.ClassificationName</a></li>
                                                                        }
                                                                        else if (entity.ClassificationID == 21)
                                                                        {
                                                                            //Conversion Cost
                                                                            <li><a href="@Url.Action("Conversion_Cost", "Car_Conversion")">@entity.ClassificationName</a></li>
                                                                        }
                                                                        else if (entity.ClassificationID == 22)
                                                                        {
                                                                            //Security
                                                                            <li><a href="#">@entity.ClassificationName</a></li>
                                                                        }
                                                                        else if (entity.ClassificationID == 23)
                                                                        {
                                                                            //Questions
                                                                            <li><a href="#">@entity.ClassificationName</a></li>
                                                                        }
                                                                        else if (entity.ClassificationID == 24)
                                                                        {
                                                                            //Conversion Centers
                                                                            <li><a href="#">@entity.ClassificationName</a></li>
                                                                        }
                                                                        else if (entity.ClassificationID == 25)
                                                                        {
                                                                            //Local Manuf
                                                                            <li><a href="#">@entity.ClassificationName</a></li>
                                                                        }
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="dropdown">
                                                                <a href="#">@classification.ClassificationName</a>
                                                                <ul>
                                                                    @foreach (var entity in classification.LstChildClassification)
                                                                    {
                                                                        <li><a href="#">@entity.ClassificationName</a></li>
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                    }

                                                }
                                            }
                                        </ul>
                                    </div>
                                </nav>
                                <script>
                                    //Update Header Style and Scroll to Top
                                    function headerStyle() {
                                        if ($('.main-header').length) {
                                            var windowpos = $(window).scrollTop();
                                            var siteHeader = $('.main-header');

                                            var scrollLink = $('.scroll-to-top');
                                            if (windowpos >= 1) {
                                                siteHeader.addClass('fixed-header');
                                                scrollLink.fadeIn(0);
                                            } else {
                                                siteHeader.removeClass('fixed-header');
                                                scrollLink.fadeOut(0);
                                            }
                                        }
                                    }

                                    headerStyle();
                                    //Submenu Dropdown Toggle
                                    if ($('.main-header li.dropdown ul').length) {
                                        $('.main-header li.dropdown').append('<div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>');

                                        //Dropdown Button
                                        $('.main-header li.dropdown .dropdown-btn').on('click', function () {
                                            $(this).prev('ul').slideToggle(500);
                                        });

                                        //Disable dropdown parent link
                                        $('.main-header .navigation li.dropdown > a,.hidden-bar .side-menu li.dropdown > a').on('click', function (e) {
                                            e.preventDefault();
                                        });
                                    }
                                </script>
                            </span>
                            <!-- Main Menu End-->
                        </div>
                    </div>
                </div>
            </div>
            <!--End Sticky Header-->
        </header>

        @RenderBody()

        @*Page End*@

        @*Footer Start*@

        <script>
            $(document).ready(function () {
                $("#sendrequest").click(function () {
                    $("#thankyou").html("يتم الإرسال");
                    $("#sendrequest").remove()
                    $.ajax({
                        url: "<?= env('APP_URL') ?>index.php/request",
                        type: "post",
                        data: "_token=<?php echo csrf_token() ;?>&Name=" + $("#nameusr").val() +
                            "&UserPhone=" + $("#UserPhone").val() + "&Email=" + $("#Email").val() +
                            "&Msgdata=" + $("#Msgdata").val(),
                        success: function (response) {

                            $("#thankyou").html(response);

                        }
                    });
                });
            });
        </script>
        <!--Call Back Section-->
        <section class="call-to-action"
                 style="background-image:url(../../wwwroot/public/assets/softextwo/images/background/2.jpg); background-attachment: fixed">
            <div class="auto-container clearfix">
                @if (Gastech_Vault.TranslationLanguageID == 0)
                {<div class="col-md-8 pull-right">
                        <h2 style="color: #fff">للإستفسارات والشكاوى</h2>
                        <h3 style="color: #fff">إتصل بنا او اترك رسالة وسيقوم أحد ممثلي خدمة العملاء بالرد عليك فى أقرب وقت.</h3>
                    </div>
                    <a style="margin-top: 20px" href="#" data-toggle="modal" data-target="#myModal3"
                       class="theme-btn btn-style-one">إرسل طلبك</a>
                    <a style="margin-top: 20px" href="tel:01000016955" class="theme-btn btn-style-one">إتصل بنا</a>
                }
                else if (Gastech_Vault.TranslationLanguageID == 1)
                {
                    <div class="col-md-8">
                        <h2 style="color: #fff">For inquiries and complaints</h2>
                        <h3 style="color: #fff">
                            Call us or leave a message and our customer service representative will get back to
                            you soon.
                        </h3>
                    </div>
                    <a style="margin-top: 20px" href="#" data-toggle="modal" data-target="#myModal3"
                       class="theme-btn btn-style-one">Send Request</a>
                    <a style="margin-top: 20px" href="tel:01000016955" class="theme-btn btn-style-one">Contact Us</a>
                }
            </div>
        </section>
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                        <div class="signin-form profile">
                            <h3 class="creainfo_sign">{{ \App\System::getFinalText("Contact Us") }}</h3>
                            <div class="login-form">
                                <div id="thankyou"></div>
                                <input type="text" name="name" id="nameusr" placeholder="الاسم" required="">
                                <input type="email" name="email" id="Email" placeholder="البريد الاليكترونى" required="">
                                <input type="text" name="phone" id="UserPhone" placeholder="رقم الهاتف" required="">
                                <textarea type="text" name="message" id="Msgdata" placeholder="اترك رسالتك"
                                          required=""></textarea>
                                <input type="submit" id="sendrequest" value="ارسل">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Call Back Section-->
        <!--Main Footer-->
        <footer class="main-footer">
            <div class="container-fluid">
                <!--Widgets Section-->
                <div class="widgets-section">

                    <div id="footer1"></div>

                    @*<style>
                        @media (min-width: 768px)
                               {

                            .seven-cols .col-md-2,
                            .seven-cols .col-sm-2,
                            .seven-cols .col-lg-2 {
                                width: 100%;
                                *width: 100%;
                            }
                        }

                        @media (min-width: 992px)
                               {

                            .seven-cols .col-md-2,
                            .seven-cols .col-sm-2,
                            .seven-cols .col-lg-2 {
                                width: 14.285714285714285714285714285714%;
                                *width: 14.285714285714285714285714285714%;
                            }
                        }

                        @media (min-width: 1200px) {

                            .seven-cols .col-md-2,
                            .seven-cols .col-sm-2,
                            .seven-cols .col-lg-2 {
                                width: 14.285714285714285714285714285714%;
                                *width: 14.285714285714285714285714285714%;
                            }
                        }
                            </style>*@

                    <div class="row d-flex flex-row-reverse seven-cols clearfix">
                        <!--big column-->
                        @*@foreach ($getmenu as $getmenudata)*@
                        <div class="big-column col-md-2 col-sm-12 col-xs-12 pull-left">
                            <!--Footer Column-->
                            <div class="footer-column col-md-12 col-sm-12 col-xs-12">
                                <div class="footer-widget links-widget">
                                    @*@if (Gastech_Vault.TranslationLanguageID == 0)
                                        {
                                            <h2>{{ $getmenudata["name"] }}</h2>
                                        }

                                        else if (Gastech_Vault.TranslationLanguageID == 1)
                                        {
                                            <h2>{{ $getmenudata["second_name"] }}</h2>
                                        }*@
                                    <div class="widget-content">
                                        <ul class="list">


                                            @*@foreach ($getmenudata["linksdata"] as $gesubmenudata)
                                                <?php
                                                if($gesubmenudata["class"]=="32693"){
                                                $linkfullurl = env('APP_URL')."aboutus/";
                                                }
                                                elseif($gesubmenudata["class"]=="32695"){
                                                $linkfullurl = env('APP_URL')."car_conversion/";
                                                }
                                                elseif($gesubmenudata["class"]=="32696"){
                                                $linkfullurl = env('APP_URL')."stations/";
                                                }
                                                elseif($gesubmenudata["class"]=="32697"){
                                                $linkfullurl = env('APP_URL')."cylinder_test/";
                                                }
                                                elseif($gesubmenudata["class"]=="32698"){
                                                $linkfullurl = env('APP_URL')."oil_distribution/";
                                                }
                                                elseif($gesubmenudata["class"]=="32699"){
                                                $linkfullurl = env('APP_URL')."statistics/";
                                                }
                                                elseif($gesubmenudata["class"]=="32694"){
                                                $linkfullurl = env('APP_URL')."hr/";
                                                }*@
                                            @*?>*@

                                            @*@if (Gastech_Vault.TranslationLanguageID == 0)
                                                {
                                                    <li>

                                                        <a href="{{ $linkfullurl . $gesubmenudata["id"] }}">{{ $gesubmenudata["title"] }}</a>
                                                    </li>
                                                }

                                                else if (Gastech_Vault.TranslationLanguageID == 1)
                                                {
                                                    <li>

                                                        <a href="{{ $linkfullurl . $gesubmenudata["id"] }}">{{ $gesubmenudata["second_title"] }}</a>

                                                    </li>

                                                }*@
                                            @*@endforeach*@
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*@endforeach*@
                    </div>
                </div>
                <!--Footer Bottom-->
                <div class="footer-bottom">
                    <div class="clearfix">
                        <div class="col-md-12 text-center">
                            <ul class="social-icon-one">
                                <li>
                                    <a href="https://www.facebook.com/gasteceg/" target="_blank">
                                        <span class="fa fa-facebook"
                                              target="_blank"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCTLayD5SdoD3WCPk7T3jgcQ" target="_blank">
                                        <span class="fa fa-youtube"></span>
                                    </a>
                                </li>



                            </ul>

                            <div class="center">


                                @if (Gastech_Vault.TranslationLanguageID == 0)
                                {
                                    <span style="font-size: 16px;font-weight: 600; color: #243a69;">
                                        جميع الحقوق محفوظة للشركة
                                        المصرية الدولية لتكنولوجيا الغاز - غازتك
                                    </span>
                                }
                                else if (Gastech_Vault.TranslationLanguageID == 1)
                                {
                                    <span style="font-size: 16px;font-weight: 600; color: #243a69;">
                                        All rights reserved to the
                                        Egyptian International Gas Technology - GASTEC
                                    </span>
                                }
                                <div class="copyright">
                                    Powered by <a href="http://softexsw.com" target="_blank">
                                        Softex Software
                                        House
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        @*Footer End*@

        <script src="~/public/assets/softextwo/js/bootstrap.min.js"></script>

        <script src="~/public/assets/softextwo/js/jquery.fancybox.js"></script>

        <script src="~/public/assets/softextwo/js/isotope.js"></script>

        <script src="~/public/assets/softextwo/js/owl.js"></script>

        <script src="~/public/assets/softextwo/js/wow.js"></script>

        <script src="~/public/assets/softextwo/js/jquery-ui.js"></script>

        <script src="~/public/assets/softextwo/js/appear.js"></script>

        <script src="~/public/assets/softextwo/js/script.js"></script>

        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxFPv8F8EXVy6pkK4YWtY8Ef8PqjM7xlA&libraries=places,geometry">
        </script>


        <!--Revolution Slider-->
        <script src="~/public/assets/softextwo/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="~/public/assets/softextwo/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
</body>
</html>
